services:
  cpp-prod:
    build:
      context: .
      dockerfile: Dockerfile
    profiles: [prod]
    container_name: cpp-container
    volumes:
      - .:/app
    entrypoint: /bin/bash
    stdin_open: true
    tty: true
    security_opt:
      - seccomp=unconfined
  cpp-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    profiles: [dev]
    container_name: cpp-container
    volumes:
      - .:/app
    entrypoint: /bin/bash
    stdin_open: true
    tty: true
    security_opt:
      - seccomp=unconfined
